# 1. mysqlcilent
* 파이썬에서는 MySQL 서버와 통신할 수 있는 파이썬용 데이터베이스 커넥터의 종류가 여러가지 있음
* PyMySQL, mysqlclient를 가장 많이 사용함
* 사용법은 비슷하나 속도가 빠른 mysqlclient를 권장하고 있음

In [3]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\administrator\appdata\local\programs\python\python38\lib\site-packages (2.1.1)

WARNING: You are using pip version 20.2.1; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\users\administrator\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [1]:
import MySQLdb

In [5]:
# hostname: IP주소, localhost, 127.0.0.1
# user: 유저, root
# password: 1234
# db: 데이터베이스, kdt
db = MySQLdb.connect(host='localhost', user='root', password='1234', db='kdt')
# db = MySQLdb.connect('localhost','root','1234','kdt') -- 이 방식으로 해도 됨

# 2. cursor 생성하기
* 하나의 Database Connection에 대하여 독립적으로 SQL문을 실행할 수 있는 작업환경을 제공하는 객체
* 하나의 Connection에 동시에 한 개의 Cursor만 생성 가능
* Cursor를 통해 SQL문을 실행하면 실행결과를 튜플 단위로 변환

In [6]:
# cursor 작업환경 생성
cur = db.cursor()
sql = 'select userid, username, email, gender from member'
cur.execute(sql) # count 개수 리턴

10

# 3. SQL문 결과 가져오기
* fetchall(): 한번에 모든 tuple을 가져옴. 검색 결과가 매우 크다면 메모리 오버헤드가 발생할 수 있음
* fetchone(): 한번에 하나의 tuple을 가져옴. 다시 메소드를 호출하면, 다음 데이터 1개를 가져옴. 데이터가 없으면 가져오지 않음.

In [7]:
row = cur.fetchall()
print(row)

(('apple', '김사과', 'apple@apple.com', '남자'), ('avocado', '안가도', 'avocado@avocado.com', '남자'), ('banana', '반하나', 'banana@naver.com', '여자'), ('berry', '배애리', 'berry1@berry1.com', '여자'), ('cherry', '채애리', 'cherry@cherry.com', '여자'), ('mango', '마앙고', 'mango@mango.com', '여자'), ('melon', '이메론', 'melon@melon.com', '남자'), ('orange', '오랜지', 'orange@orange.com', '남자'), ('peach', '피이치', 'peach@peach.com', '남자'), ('pear', '김배애', 'pear@pear.com', '남자'))

In [8]:
cur.execute(sql)

row = cur.fetchone()
print(row)
row = cur.fetchone()
print(row)
row = cur.fetchone()
print(row)

('apple', '김사과', 'apple@apple.com', '남자')
('avocado', '안가도', 'avocado@avocado.com', '남자')
('banana', '반하나', 'banana@naver.com', '여자')

In [9]:
# fetchone()을 이용하여 루프를 돌면서 모든 데이터 출력하기
cur.execute(sql)

while 1:
    row = cur.fetchone()
    if row:
        print(row)
    else:
        break

('apple', '김사과', 'apple@apple.com', '남자')
('avocado', '안가도', 'avocado@avocado.com', '남자')
('banana', '반하나', 'banana@naver.com', '여자')
('berry', '배애리', 'berry1@berry1.com', '여자')
('cherry', '채애리', 'cherry@cherry.com', '여자')
('mango', '마앙고', 'mango@mango.com', '여자')
('melon', '이메론', 'melon@melon.com', '남자')
('orange', '오랜지', 'orange@orange.com', '남자')
('peach', '피이치', 'peach@peach.com', '남자')
('pear', '김배애', 'pear@pear.com', '남자')

In [10]:
# cursor에 dictionary 형식으로 row를 유지하도록 내부 타입을 명시
cur = db.cursor(MySQLdb.cursors.DictCursor)
cur.execute(sql)

while 1:
    row = cur.fetchone()
    if row:
        print(f"아이디: {row['userid']}, 이름: {row['username']}, 이메일: {row['email']}, 성별: {row['gender']}")
    else:
        break

아이디: apple, 이름: 김사과, 이메일: apple@apple.com, 성별: 남자
아이디: avocado, 이름: 안가도, 이메일: avocado@avocado.com, 성별: 남자
아이디: banana, 이름: 반하나, 이메일: banana@naver.com, 성별: 여자
아이디: berry, 이름: 배애리, 이메일: berry1@berry1.com, 성별: 여자
아이디: cherry, 이름: 채애리, 이메일: cherry@cherry.com, 성별: 여자
아이디: mango, 이름: 마앙고, 이메일: mango@mango.com, 성별: 여자
아이디: melon, 이름: 이메론, 이메일: melon@melon.com, 성별: 남자
아이디: orange, 이름: 오랜지, 이메일: orange@orange.com, 성별: 남자
아이디: peach, 이름: 피이치, 이메일: peach@peach.com, 성별: 남자
아이디: pear, 이름: 김배애, 이메일: pear@pear.com, 성별: 남자

# 4. Cursor와 Connection 닫아주기

In [11]:
cur.close() # 커서 닫기
db.close() # connection 닫기

# 5. 데이터 삽입하기

## 5-1. 단일 데이터 삽입

In [ ]:
sql = "insert into member (userid, username, userpw, gender, email, ssn1) value (%s, %s, %s, %s, %s, %s)"
data = ('avocado', '안가도', '5678', '남자','avocado@avocado.com', '970419')
cur.execute(sql, data)
db.commit() # 이 코드를 해야 db에 반영됨

## 5-2. 여러 데이터 삽입

In [ ]:
sql = "insert into member (userid, username, userpw, gender, email, ssn1) value (%s, %s, %s, %s, %s, %s)"
data = [('mango', '마앙고', '1111', '여자','mango@mango.com', '020615'),
        ('peach', '피이치', '2222', '남자','peach@peach.com', '990125')]
cur.executemany(sql, data)
db.commit() # 이 코드를 해야 db에 반영됨

### 문제
* '회원가입' 프로그램을 만들어보자  

    ****** 회원 가입 ******
    * 아이디를 입력하세요: ----
    * 비밀번호를 입력하세요: ----
    * 이름을 입력하세요: ----
    * 휴대폰 번호를 입력하세요: ----
    * 이메일을 입력하세요: ----
    * 성별을 입력하세요: ----
    * 주민번호 앞자리를 입력하세요: ----
    * 주민번호 뒷자리를 입력하세요: ----
    * 우편번호를 입력하세요: ----
    * 주소를 입력하세요: ----
    * 상세주소를 입력하세요: ----
    * 참고사항을 입력하세요: ----
    가입되었습니다!

    에러가 발생! 오류처리 -> 다시 입력 하도록

In [1]:
import MySQLdb

db = MySQLdb.connect(host='localhost', user='root', password='1234', db='kdt')
cur = db.cursor()

while 1:
    try:
        print('****** 회원 가입 ******')
        userid = input('아이디를 입력하세요: ')
        userpw = input('비밀번호를 입력하세요: ')
        username = input('이름을 입력하세요: ')
        hp = input('전화번호를 입력하세요: ')
        email = input('이메일을 입력하세요: ')
        gender = input('성별을 입력하세요: ')
        ssn1 = input('주민번호 앞자리를 입력하세요: ')
        ssn2 = input('주민번호 뒷자리를 입력하세요: ')
        zipcode = input('우편번호를 입력하세요: ')
        address1 = input('주소를 입력하세요: ')
        address2 = input('상세주소를 입력하세요: ')
        address3 = input('참고사항을 입력하세요: ')

        sql = "insert into member (userid, userpw, username, hp, email, gender, ssn1, ssn2, zipcode, address1, address2, address3) value (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        data = (userid, userpw, username, hp, email, gender, ssn1, ssn2, zipcode, address1, address2, address3)
        cur.execute(sql, data)
        db.commit() # 이 코드를 해야 db에 반영됨
        break

    except:
        print('다시 입력하세요')
    
cur.close()
db.close()

****** 회원 가입 ******
아이디를 입력하세요: pear
비밀번호를 입력하세요: 4444
이름을 입력하세요: 김배애
전화번호를 입력하세요: 010-1111-1111
이메일을 입력하세요: pear@pear.com
성별을 입력하세요: 남자
주민번호 앞자리를 입력하세요: 051104
주민번호 뒷자리를 입력하세요: 3041518
우편번호를 입력하세요: 11111
주소를 입력하세요: 서울시 강남구
상세주소를 입력하세요: 삼성동
참고사항을 입력하세요:
다시 입력하세요

# 6. 데이터 수정하기

In [12]:
db = MySQLdb.connect(host='localhost', user='root', password='1234', db='kdt')
cur = db.cursor()

In [16]:
sql = "update member set zipcode='12345', address1='서울시 강남구', address2='역삼동' where userid='pear'"
result = cur.execute(sql)
db.commit()
print(result)

1

In [18]:
sql = "update member set zipcode='12345', address1='서울시 강남구', address2='도곡동' where userid='avocado'"
result = cur.execute(sql)
db.commit()
if result > 0:
    print('수정되었습니다.')
else:
    print('에러')

에러

### 문제
* '로그인' 프로그램을 작성해보자

    ****** 로그인 ******
    * 아이디를 입력하세요: apple
    * 비밀번호를 입력하세요: 1234
    * 로그인 되었습니다!  
    * 
    * 아이디를 입력하세요: apple
    * 비밀번호를 입력하세요: 1111
    * 아이디 또는 비밀번호가 틀렸습니다!

In [15]:
db = MySQLdb.connect(host='localhost', user='root', password='1234', db='kdt')
cur = db.cursor()


print('****** 로그인 ******')
loginid = input('아이디를 입력하세요: ')
loginpw = input('비밀번호를 입력하세요: ')

sql = "select userid from member where userid=%s and userpw=%s"
data = (loginid, loginpw)
result = cur.execute(sql, data)

if result > 0:
    print('로그인 되었습니다!')
else:
    print('아이디 또는 비밀번호가 틀렸습니다!')


cur.close()
db.close()

****** 로그인 ******
아이디를 입력하세요: apple
비밀번호를 입력하세요: 1234
로그인 되었습니다!