# 1. 콜백함수(Callback Function)
* 직접 호출하는 것이 아닌 다른 함수에 의해 호출되는 함수

In [1]:
def callback_func(func): # 함수의 주소값으로 탐색
    for i in range(5):
        func()           # 주소값의 함수 호출

def print_hello():
    print('안녕하세요! Python!')

In [2]:
print_hello()

안녕하세요! Python!

In [3]:
callback_func(print_hello) # 소괄호 x
# 가능한 이유: 파이썬에서는 함수도 객체로 되어있기에 주소가 있음

안녕하세요! Python!
안녕하세요! Python!
안녕하세요! Python!
안녕하세요! Python!
안녕하세요! Python!

In [4]:
def callback_func(func):
    for i in range(5):
        func(i)

def print_hello(num):
    print(f'{num+1}번째 안녕하세요! Python!')

In [5]:
callback_func(print_hello)

1번째 안녕하세요! Python!
2번째 안녕하세요! Python!
3번째 안녕하세요! Python!
4번째 안녕하세요! Python!
5번째 안녕하세요! Python!

# 2.람다 함수(Lambda Function)
* 단일문으로 표현되는 익명함수(포인터 없음)
* 코드상에서 한번만 사용되는 기능이 있을 때, 굳이 함수를 만들지 않고 일회성으로 만들어 사용(함수는 클래스를 통해 생성된 객체)
* 무조건 Return 형

In [6]:
def square(x):
    return x ** 2

print(square(4))

16

In [7]:
lambda x : x ** 2

square = lambda x : x ** 2 # 실제에서는 이렇게 사용되지 않음
print(square(4))

16

In [8]:
(lambda x : x ** 2)(4)

16

In [9]:
def myData(string):
    return len(string.strip())

In [10]:
print(myData('apple'))
print(myData('   apple   '))

5
5

In [11]:
data = ['watermelon','            apple         ','     banana     ','   avocado   ','  strawberry  ']

In [12]:
print(sorted(data))

['            apple         ', '     banana     ', '   avocado   ', '  strawberry  ', 'watermelon']

In [13]:
print(sorted(data, key=myData))

['            apple         ', '     banana     ', '   avocado   ', 'watermelon', '  strawberry  ']

In [14]:
# 람다 함수를 사용하여 위 예제를 변경
print(sorted(data, key=lambda string: len(string.strip())))

['            apple         ', '     banana     ', '   avocado   ', 'watermelon', '  strawberry  ']

## 2-1. 람다가 유용하게 사용되는 대표적인 함수

In [15]:
# filter(): 특정 조건을 만족하는 요소만 남기고 필터링
li = [1, 2, 3, 4, 7, 9, 10, 14, 15, 19, 20]

result = list(filter(lambda n: n%2 == 0, li))
print(result)

[2, 4, 10, 14, 20]

In [16]:
def even(n):
    if n % 2 ==0:
        return True
    else:
        return False

result = list(filter(even, li)) # filter()는 콜백함수!
print(result)

[2, 4, 10, 14, 20]

In [17]:
# map(): 각 원소를 주어진 수식에 따라 변형하여 새로운 값을 반환
li = [1, 2, 3, 4, 7, 9, 10, 14, 15, 19, 20]

per = list(map(lambda n: n * 0.01, li))
print(per)

[0.01, 0.02, 0.03, 0.04, 0.07, 0.09, 0.1, 0.14, 0.15, 0.19, 0.2]

In [18]:
def percent(n):
    return n * 0.01

per = list(map(percent, li)) # map()은 콜백함수!
print(per)

[0.01, 0.02, 0.03, 0.04, 0.07, 0.09, 0.1, 0.14, 0.15, 0.19, 0.2]