# 1. 세트(Set)
* 수학의 집합과 비슷한 형태로 순서가 없어서 어떤 값이 먼저 나올지 알 수 없고, 중복되는 데이터를 허용하지 않음
* 딕셔너리처럼 중괄호를 사용해서 선언하지만, key는 존재하지 않고 value만 존재함.

## 1-1. set 만들기

In [1]:
s1 ={}
print(s1)
print(type(s1))

{}
<class 'dict'>

In [2]:
s1 = {1, 3, 5, 7}
print(s1)
print(type(s1))

li1 = [1, 3, 5, 7]
s2 = set(li1)
print(s2)

s3 = {1, 3, 5, 3, 7, 9, 1}
print(s3)

li2 = [1, 3, 5, 3, 7, 9, 1]
print(li2)
s4 = set(li2)
print(s4)

{1, 3, 5, 7}
<class 'set'>
{1, 3, 5, 7}
{1, 3, 5, 7, 9}
[1, 3, 5, 3, 7, 9, 1]
{1, 3, 5, 7, 9}

In [3]:
print(3 in s4) # True
print(8 in s4) # False
print(8 not in s4) # True

True
False
True

## 1-2. Set 함수

In [4]:
# add(): set에 단일 데이터 추가
s1 = {100, 200}
s1.add(150)
print(s1) # 순서가 일정하지 않음
s1.add(50)
print(s1)

{200, 100, 150}
{200, 50, 100, 150}

In [5]:
# update(): set에 여러 데이터를 한번에 추가
s2 = {10, 20, 30}
s2.update([40, 50, 60, 20])
print(s2)

{40, 10, 50, 20, 60, 30}

In [6]:
# remove(): set의 데이터를 제거, 제거할 데이터가 없으면 에러
s2.remove(50)
print(s2)
s2.remove(50) # 에러

{40, 10, 20, 60, 30}

KeyError: ignored

In [7]:
# discard(): set의 데이터를 제거, 제거할 데이터가 없어도 에러가 발생하지 않음
s2.discard(30)
print(30)
s2.discard(30)

30

In [9]:
# copy(): set을 복사
# id(): 저장된 메모리주소를 10진수로 표현
s3 = {10, 20, 30}
s4 = s3.copy()
print(s3)
print(s4)
print(id(s3))
print(id(s4))

{10, 20, 30}
{10, 20, 30}
140058086917952
140058086917056

## 1-3. set의 연산자

In [10]:
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70}

In [11]:
# 합집합(Union)
result = s1 | s2
print(result)
result = s1.union(s2)
print(result)

{70, 40, 10, 50, 20, 60, 30}
{70, 40, 10, 50, 20, 60, 30}

In [12]:
# 교집합(Intersection)
result = s1 & s2
print(result)
result = s1.intersection(s2)
print(result)

{40, 50, 30}
{40, 50, 30}

In [14]:
# 차집합(difference)
result = s1 - s2
print(result)
result = s1.difference(s2)
print(result)

{10, 20}
{10, 20}

In [15]:
# 대칭차집합(symmetric_difference)
result = s1 ^ s2
print(result)
result = s1.symmetric_difference(s2)
print(result)

{20, 70, 10, 60}
{20, 70, 10, 60}

# 2. Set과 zip()함수

In [16]:
string = 'apple'
li = [1, 2, 3, 4, 5]
tu = ('김사과','반하나','오렌지','이메론','채애리')

In [17]:
print(zip(string, li, tu))

<zip object at 0x7f61d1ae7240>

In [18]:
print(list(zip(string, li ,tu)))

[('a', 1, '김사과'), ('p', 2, '반하나'), ('p', 3, '오렌지'), ('l', 4, '이메론'), ('e', 5, '채애리')]

In [19]:
print(set(zip(string, li ,tu)))

{('e', 5, '채애리'), ('a', 1, '김사과'), ('p', 2, '반하나'), ('l', 4, '이메론'), ('p', 3, '오렌지')}

In [20]:
print(dict(zip(string, li ,tu)))

ValueError: ignored

In [21]:
print(dict(zip(li ,tu)))

{1: '김사과', 2: '반하나', 3: '오렌지', 4: '이메론', 5: '채애리'}

In [22]:
print(dict(zip(string ,tu))) # p가 두개여서 하나가 날아감

{'a': '김사과', 'p': '오렌지', 'l': '이메론', 'e': '채애리'}