# 사용자 정의 함수

# 1. 함수
* 변수 x, y에 대해 x값이 정해지면 그에 따라 y값을 결정하는 것
* 반복적으로 사용되는 가치있는 부분을 묶어서 하나의 집합으로 만듦
* 코드를 재활용하기 위한 목적

## 1-1. 이름만 있는 함수
```
def 함수명():
    함수가 호출되면 실행할 문장
```
```
함수명() # 호출
```

In [1]:
def func1():
    print('처음으로 만드는 함수!')

In [2]:
func1()

처음으로 만드는 함수!

In [3]:
for i in range(5):
    func1()

처음으로 만드는 함수!
처음으로 만드는 함수!
처음으로 만드는 함수!
처음으로 만드는 함수!
처음으로 만드는 함수!

## 1-2. 매개변수가 있는 함수
```
def 함수명(변수1, 변수2, ...)
    함수가 호출되면 실행할 문장
```

```
함수명(값1, 값2, ...) # 호출
```

In [4]:
def func2(num):
    print(f'입력받은 숫자는 {num}')

In [5]:
func2(4)

입력받은 숫자는 4

In [6]:
def func3(start, end):
    sum = 0
    for i in range(start, end+1):
        sum += i
    print(f'{start}부터 {end}까지의 합은 {sum}')

In [7]:
func3(5,23)

5부터 23까지의 합은 266

## 1-3. Return 값이 있는 함수
```
def 함수명(변수1, 변수2, ...):
    함수가 호출되면 실행할 문장
    ...
    return 값
```

```
변수 = 함수명(값1, 값2, ...) # 호출
```

In [8]:
def func4():
    print('안녕하세요 Python!')

In [9]:
a = func4()
print(a)

안녕하세요 Python!
None

In [10]:
def func5():
    return '🎁'

In [11]:
presents = func5()
print(presents)

🎁

In [12]:
def func6(num1, num2):
    sum = num1 + num2
    return sum

In [13]:
sum1 = func6(10) # TypeError: func6() missing 1 required positional argument: 'num2'
print(sum1)

TypeError: ignored

In [14]:
sum2 = func6(10,5)
print(sum2)
# print(sum) # <built-in function sum>
# print(num1, num2) # NameError

15

## 1-4. Default 매개변수
```
def 함수명(변수1=값1, 변수2=값2, ...):
    함수가 호출되면 실행할 문장
    ...
    return 값
```
```
변수 = 함수명(값1, 값2, ...) # 호출
변수 = 함수명() # 호출

```

In [15]:
print(func6()) # 매개변수를 입력하지 않아 Error

TypeError: ignored

In [ ]:
def func6(num1=1, num2=1):
    sum = num1 + num2
    return sum

In [16]:
print(func6())
print(func6(10, 5))

TypeError: ignored

In [17]:
result = func6(7)
print(result)

TypeError: ignored

## 1-5. 매개변수의 개수가 가변적인 경우
```
def 함수명(*변수):
    함수가 호출되면 실행할 문장
    ...
    return 값
```

```
변수 = 함수명(값1, 값2, ...) # 호출
변수 = 함수명(값1) # 호출
변수 = 함수명() # 호출
```
> 가변적인 매개변수를 전달할 경우 함수안에서 튜플형태로 사용

In [18]:
def func7(*args):
    result = 0
    # print(args)
    for i in args:
        result += i
    return result

In [19]:
print(func7())
print(func7(10, 20, 30, 70))
print(func7(10))

# None이 찍히는 이유 : def에서 print를 넣었기 때문

0
130
10

## 1-6. 매개변수를 딕셔너리 구조로 전달받는 함수
```
def 함수명(**변수):
    함수가 호출되면 실행할 문장
    ...
    return 값
```
```
변수 = 함수명(변수1=값1, 변수2=값2, ...) # 호출
```

>  Default 매개변수는 첫번째 파라미터에만 적용할 수 없음

In [20]:
def func8(id, name, age):
    print(f'아이디: {id}')
    print(f'이름: {name}')
    print(f'나이: {age}')

In [21]:
# 매개변수명과 딕셔너리의 키가 같아야 함
# 딕셔너리의 키는 반드시 문자열 형태
dic1 = {'id':'apple', 'name':'김사과', 'age': 20}

In [22]:
func8(**dic1)

아이디: apple
이름: 김사과
나이: 20

In [23]:
# 키는 *, 값은 **이다
# *의 데이터를 보낼 경우 키가 저장
func8(*dic1)

아이디: id
이름: name
나이: age

In [24]:
def func9(**args):
    # print(args)
    for i in args:
        if i == 'id':
            id = args[i]
        return id

In [25]:
user = func9(id='apple', name='김사과', age=20)
print(user)

apple

## 1-7. Return 값이 여러 개인 함수
```
def 함수명(변수1, 변수2, ...):
    함수가 호출되면 실행할 문장
    ...
    return 값1, 값2, ...
```
```
변수1, 변수2, ... = 함수명(변수1, 변수2, ...) # 호출
```

In [26]:
def func10(num1, num2):
    return num1 + num2, num1 - num2, num1 * num2, num1 / num2

In [27]:
result1, result2, result3, result4 = func10(10, 3)

In [28]:
print(f'덧셈 : {result1}, 뺄셈 : {result2}, 곱셈 : {result3}, 나눗셈 : {result4}')

덧셈 : 13, 뺄셈 : 7, 곱셈 : 30, 나눗셈 : 3.3333333333333335

In [29]:
_, _, result3, _ = func10(10, 3) # 곱셈의 결과만 필요할 때
print(result3)

30