# 1. 튜플(Tuple)
* 리스트와 비슷하지만 리스트는 대괄호로 자료를 감싸고, 튜플은 소괄호로 감싼다.
* 요소의 수정, 삭제 불가능

In [1]:
tu1 = ()
print(tu1)

# tu1[0] = 100 # TypeError: 'tuple' object does not support item assignment

()

In [2]:
tu2 = (1, 3, 5, 7)
print(tu2)

(1, 3, 5, 7)

In [3]:
tu3 = 1, 3, 5, 7
print(tu3)
print(type(tu3))

(1, 3, 5, 7)
<class 'tuple'>

In [4]:
tu4 =('apple', 'banana', ('🍑','🍇'))
print(tu4)

tu5 = ('apple', 'banana', ['🍑','🍇'])
print(tu5)
print(type(tu5))

('apple', 'banana', ('🍑', '🍇'))
('apple', 'banana', ['🍑', '🍇'])
<class 'tuple'>

# 2. 튜플의 수정 및 삭제

In [5]:
tu6 = (1, 2, 'apple', 'banana')
print(tu6)
print(tu6[2])

# tu6[2] = 'orange' # TypeError: 'tuple' object does not support item assignment
# del tu6[2] # TypeError: 'tuple' object doesn't support item deletion

(1, 2, 'apple', 'banana')
apple

In [6]:
del tu6

In [9]:
tu7 = ('apple', 'banana', ['🍑','🍇'])
tu7[2][1] = '🍎' # 리스트의 요소이므로 변경 가능
print(tu7)

# tu7[2] = '🍔' # TypeError: 'tuple' object does not support item assignment

('apple', 'banana', ['🍑', '🍎'])

In [10]:
tu8 = ('apple', 'banana', ['🍑','🍇'])
print(tu8)
tu8 = '🌭'
print(tu8)

('apple', 'banana', ['🍑', '🍇'])
🌭

# 3. 튜플의 인덱싱과 슬라이싱 연산

In [16]:
tu9 = (1, 2, 'apple', 'banana')

# 인덱싱
print(tu9[0])
print(tu9[-1])

# 슬라이싱
print(tu9[1:])
print(tu9[1:3])

# 덧셈(연결)
tu10 = (30, 40)
print(tu9 +tu10)

# 곱셈(반복)
print(tu9 * 3)

# 요소의 개수
print(len(tu9))

1
banana
(2, 'apple', 'banana')
(2, 'apple')
(1, 2, 'apple', 'banana', 30, 40)
(1, 2, 'apple', 'banana', 1, 2, 'apple', 'banana', 1, 2, 'apple', 'banana')
4

# 4. 튜플의 정렬

In [17]:
tu11 = (1, 3, 2, 0)

In [18]:
tu11.sort() # AttributeError: 'tuple' object has no attribute 'sort'

AttributeError: ignored

In [20]:
tu12 = sorted(tu11)
print(tu12)

[0, 1, 2, 3]