# 1. 제어문
* 프로그램의 흐름을 제어하는 문장
  * 조건문
  * 반복문 ☆☆

# 2. 조건문

## 2-1. 비교 연산자
* <, >, <=, >=, ==, !=
* 항상 결과는 bool형으로 반환

In [ ]:
print(10 > 5)
print(10 < 5)
print(10 >= 5)
print(10 <= 5)
print(10 == 5)
print(10 != 5)

True
False
True
False
False
True

## 2-2. if문
```
if 조건식(결과가 True 또는 False가 나오는 문장):
  조건식이 True인 경우 실행할 문장
  ...
```

In [ ]:
bool1 = True

if bool1:
  print('결과는 참입니다')
print('프로그램을 종료합니다')

결과는 참입니다
프로그램을 종료합니다

In [ ]:
bool2 = False

if bool2:
  print('결과는 참입니다')
print('프로그램을 종료합니다')

프로그램을 종료합니다

In [ ]:
age = int(input('나이를 입력하세요: '))

if age > 19:
  print('성인입니다')
  print('넷플릭스 성인영화를 감상할 수 있습니다')

print('입력한 나이: ', age, '세')

나이를 입력하세요: 12
입력한 나이:  12 세

In [ ]:
age = int(input('나이를 입력하세요: '))

if age > 19:  print('성인입니다')

print('입력한 나이: ', age, '세')

나이를 입력하세요: 20
성인입니다
입력한 나이:  20 세

## 2-3. if - else 문
```
if 조건식(결과가 True 또는 False가 나오는 문장):
  조건식이 True인 경우 실행할 문장
  ...
else:
  조건식이 False인 경우 실행할 문장
  ...
```

In [ ]:
age = int(input('나이를 입력하세요: '))

if age > 19:
  print('성인입니다')
else:
  print('미성년입니다')

print('입력한 나이: ', age, '세')

나이를 입력하세요: 18
미성년입니다
입력한 나이:  18 세

In [ ]:
age = int(input('나이를 입력하세요: '))

if age > 19:
  print('성인입니다')
  print('넷플릭스 성인영화를 감상할 수 있습니다')
else:
  print('미성년입니다')
  print('디즈니를 감상할 수 있습니다')

print('입력한 나이: ', age, '세')

나이를 입력하세요: 16
미성년입니다
디즈니를 감상할 수 있습니다
입력한 나이:  16 세

## 2-4. if - elif - else 문
```
if 조건식1(결과가 True 또는 False가 나오는 문장):
  조건식1이 True인 경우 실행할 문장
  ...
elif 조건식2(결과가 True 또는 False가 나오는 문장):
  조건식2가 True인 경우 실행할 문장
  ...
elif 조건식3(결과가 True 또는 False가 나오는 문장):
  조건식3이 True인 경우 실행할 문장
  ...
else:
  모든 조건식이 False인 경우 실행할 문장
  ...
```

> else는 필수 문장이 아니다

In [ ]:
age = int(input('나이를 입력하세요: '))

if age > 19:
  print('성인입니다')
elif age > 14:
  print('청소년입니다')
elif age > 6:
  print('어린이입니다')
elif age > 0:
  print('유아입니다')
else:
  print('입력을 확인하세요')

print('입력한 나이: ', age, '세')

나이를 입력하세요: 16
청소년입니다
입력한 나이:  16 세

## 2-5. 산술 연산자
+, -, , /, %, //, *, ***

In [ ]:
print(10 + 3)
print(10 - 3)
print(10 * 3)
print(10 / 3)
print(10 % 3)
print(10 // 3)
print(10 ** 3)

13
7
30
3.3333333333333335
1
3
1000

## 2-6. 삼항 연산자
```
결과가 True일 때 실행할 문장 if 조건식 else 결과가 Flase일 때 실행할 문장
```

In [ ]:
num = int(input('숫자를 입력하세요: '))

if num % 2 == 0:
  print('짝수입니다')
else:
  print('홀수입니다')

숫자를 입력하세요: 15
홀수입니다

In [ ]:
num = int(input('숫자를 입력하세요: '))

print('짝수') if num % 2 == 0 else print('홀수')

숫자를 입력하세요: 15
홀수

## 문제 1
* 국어, 영어, 수학 점수를 입력받아 총점, 평균, 학점을 구하는 프로그램을 작성해보자.
* 단, 학점은 평균 기준이며 90점 이상은 A, 80점 이상은 B, 70점 이상은 C, 60점 이상은 D, 나머지는 F

In [ ]:
kor, eng, math = input('국어, 영어, 수학 점수를 입력하세요: ').split()
kor = int(kor)
eng = int(eng)
math = int(math)
sum = kor + eng + math
avg = sum / 3

print('총점: ', sum, '점')
print('평균: %.1f점' % avg)

if avg >= 90:
  grad ='A'
elif avg >= 80:
  grad = 'B'
elif avg >= 70:
  grad = 'C'
elif avg >= 60:
  grad = 'D'
else:
  grad = 'F'

print('학점: ', grad)

국어, 영어, 수학 점수를 입력하세요: 80 67 90
총점:  237 점
평균: 79.0점
학점:  C

## 문제 2
* 숫자를 입력받아 2의 배수인지, 3의 배수인지 아니면 2, 3의 배수가 모두 아닌지를 판별하는 프로그램을 작성해보자.

In [ ]:
num = int(input('숫자를 입력하세요: '))

if num % 2 == 0:
  if num % 3 == 0:
    print('입력한 숫자는 2와 3의 배수입니다.')
  else:
    print('입력한 숫자는 2의 배수입니다.')
elif num % 3 == 0:
  print('입력한 숫자는 3의 배수입니다.')
else:
  print('입력한 숫자는 2의 배수도 3의 배수도 아닙니다.')

숫자를 입력하세요: 153
입력한 숫자는 3의 배수입니다.

In [ ]:
num = int(input('숫자를 입력하세요: '))

print('입력한 숫자는 2의 배수입니다.')if num % 2 == 0 else print('입력한 숫자는 3의 배수입니다.') if num % 3 == 0 else print('입력한 숫자는 2의 배수도 3의 배수도 아닙니다.')

숫자를 입력하세요: 9
입력한 숫자는 3의 배수입니다.

## 2-7. 논리 연산자(AND)
* 양쪽 두식의 값이 모두 True인 경우 결과가 True가 되는 연산자

<center>

| A | B | 결과 |
|-----|-----|-----|
|True|True|True|
|True|False|False|
|False|True|False|
|False|False|False|

</center>

* 예) 정보처리기사 자격을 취득하기 위해서는 모든 과목을 40점 이상이고, 평균이 60점 이상이 되어야 함.

In [ ]:
# 로그인 프로그램 만들기
# 아이디: admin, 비밀번호: 1234
userid = input('아이디를 입력하세요: ')
userpw = input('비밀번호를 입력하세요: ')

if userid == 'admin' and userpw == '1234':
 print('로그인 되었습니다.')
else:
  print('아이디 또는 비밀번호를 확인하세요')

아이디를 입력하세요: admin
비밀번호를 입력하세요: 1234
로그인 되었습니다.

## 2-8. 논리 연산자(OR)
* 양쪽 두 식의 값이 하나라도 True인 경우 결과가 True가 되는 연산자

<center>

| A | B | 결과 |
|-----|-----|-----|
|True|True|True|
|True|False|True|
|False|True|True|
|False|False|False|

</center>

* 예) 부모님 모셔와

In [ ]:
# 주민등록번호에 의한 성별을 판별하는 프로그램 만들기
# 0010113068518
juminNo = input('주민등록번호 13자리를 -없이 입력하세요')

if juminNo[6] == '1' or  juminNo[6] == '3' or juminNo[6] == '5' or juminNo[6] == '7' or juminNo[6] == '9':
  print('남자')
else:
  print('여자')

주민등록번호 13자리를 -없이 입력하세요0010113068518
남자

## 2-9. 논리 연산자(NOT)
* 식의 부호(Bool 값)를 반대로 변경해주는 연산자

In [ ]:
bool1 = True

if bool1:
  print('결과는 참입니다')
else:
  print('결과는 거짓입니다')

결과는 참입니다

In [ ]:
if not bool1:
  print('결과는 참입니다')
else:
  print('결과는 거짓입니다')

결과는 거짓입니다

### 과제
아래와 같이 출력되는 이유를 알아보자 → 부동소수점으로 저장

In [ ]:
print(10 / 3)

3.3333333333333335

In [ ]:
0.1 + 1.1 == 1.2

False