# 1. 반복문

## 1-1. 자료형 참/거짓 판단하기
* 파이썬에서 사용하는 모든 자료형은 참 또는 거짓으로 표현이 가능

In [1]:
bool1 = True
print(bool1)
print(type(bool1))

True
<class 'bool'>

In [2]:
# 0이 아닌 숫자는 모두 True, 0은 False

num1 = 10
print(num1)
print(type(num1))
print(bool(num1)) # 모든 값들은 bool형으로 형변환 가능 True

num2 = 0
print(num2)
print(type(num2))
print(bool(num2)) # False

10
<class 'int'>
True
0
<class 'int'>
False

In [3]:
str1 = '안녕'
print(str1)
print(type(str1))
print(bool(str1)) # True

str2 = ''
print(str2)
print(type(str2))
print(bool(str2)) # False

안녕
<class 'str'>
True

<class 'str'>
False

In [4]:
list1 = [1, 2, 3]
print(list1)
print(type(list1))
print(bool(list1)) # True

list2 = []
print(list2)
print(type(list2))
print(bool(list2)) # False

[1, 2, 3]
<class 'list'>
True
[]
<class 'list'>
False

In [5]:
list1 = [1, 3, 5]

if list1:
  print('요소가 있습니다.')
else:
  print('요소가 없습니다.')

요소가 있습니다.

## 1-2. 대입 연산자
* =, += -=, *=, /=, %=
* 왼쪽에 저장된 값과 오른쪽에 값을 연산한 뒤 다시 왼쪽에 대입(inplace 연산)

In [6]:
num = 10

In [7]:
num += 1
print(num)
num -= 1
print(num)
num *= 10
print(num)
num /= 10
print(num)
num %= 2
print(num)

11
10
100
10.0
0.0

## 1-3. While 문
```
while 조건식:
    조건식의 결과가 True인 동안 반복할 문장
```

In [8]:
# 무한 루프
# while True:
#  print('끝나지 않는 반복')

In [9]:
i = 1

while i <= 5:
  print('Hello Python!')
  i += 1

print("현재 i의 값:", i)

Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!
현재 i의 값: 6

In [10]:
# 1 ~ 100까지의 총합
i = 1
sum = 0

while i <= 100:
  sum += i
  i += 1

print('총합:', sum)

총합: 5050

## 문제 1
* 1 ~ 100까지의 짝수의 총합을 구하라

In [11]:
i = 1
sum = 0

while i <= 100:
  if i % 2 == 0:
    sum += i
  i += 1

print('총합:', sum)

총합: 2550

## 문제 2
* 원하는 단을 입력받아 해당 단의 구구단을 출력하라

In [12]:
num = int(input('원하는 단을 입력하세요:'))
i = 1

print('%d단' % num)
while i < 10:
  print('%d * %d = %d' % (num,i,num*i))
  i += 1

원하는 단을 입력하세요:7
7단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

## 1-4. For In 문
```
for 변수 in iterable 객체:
    이터러블 객체의 요소 갯수만큼 반복할 문장
```

In [13]:
list1 = [10, 20, 30, 40]

for li in list1:
  print(li)

10
20
30
40

In [14]:
import collections

# isinstance(이터러블한 객체인지 확인하고자 하는 객체, collections.Iterable)
isinstance(list1, collections.Iterable)

<ipython-input-14-3221c720c994>:4: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3, and in 3.10 it will stop working
  isinstance(list1, collections.Iterable)

True

In [15]:
# range(): 범위를 생성해주는 함수
# range(시작인덱스, 종료인덱스, 증가값)
num = range(0, 10, 1)
print(num)

range(0, 10)

In [16]:
for i in num:
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [17]:
isinstance(num, collections.Iterable)

True

In [18]:
num = 10
# print(num)

# for i in num:
#   print(i, end=' ')

In [19]:
isinstance(num, collections.Iterable)

False

In [20]:
for i in range(0, 10 ,1):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [21]:
# 증가값을 생략하면 default = 1
for i in range(0, 10):
  print(i, end=' ')

print()

# 시작값을 생략하면 default =  0
for i in range(10):
  print(i, end=' ')

print()

# 시작값은 1, 종료값은 10, 증가값은 2
for i in range(1, 10, 2):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
1 3 5 7 9

## 문제 3
* for문을 이용하여 1 ~ 100까지의 짝수의 총합을 구하라

In [22]:
sum = 0
for i in range(2, 101, 2):
  sum += i
print('총합: ', sum)

총합:  2550

## 1-5. enumerate
* 반복문 사용 시 몇번째 반복인지 인덱스 번호로 확인
* 인덱스 번호와 요소를 튜플 형태로 변환

In [23]:
li1 = [10, 20, 30, 40, 50]

for e in enumerate(li1):
  print(e)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)

In [24]:
for i, v in enumerate(li1):
  print(f'index: {i}, value: {v}')

index: 0, value: 10
index: 1, value: 20
index: 2, value: 30
index: 3, value: 40
index: 4, value: 50

## 1-6. zip() 함수
* 객체가 담고 있는 원소를 엮어서 튜플의 형태로 반환
* 매개변수의 길이가 다를 때는 짧은 매개변수 기준으로 데이터가 엮이고, 나머지는 버려짐

In [25]:
li1 = [10, 20, 30]
li2 = ['apple','banana','orange']
# (10, 'apple')
# (20, 'banana')
# (30, 'orange')

# 좋지 않은 코드
for i in range(len(li1)):
  print((li1[i], li2[i]))

(10, 'apple')
(20, 'banana')
(30, 'orange')

In [26]:
for l1, l2 in zip(li1, li2):
  print((l1, l2))

(10, 'apple')
(20, 'banana')
(30, 'orange')

In [27]:
for li in zip(li1, li2):
  print(li)

(10, 'apple')
(20, 'banana')
(30, 'orange')

In [28]:
for n, A, a in zip('12345', 'ABCDE', 'abcde'):
  print((n, A, a))

('1', 'A', 'a')
('2', 'B', 'b')
('3', 'C', 'c')
('4', 'D', 'd')
('5', 'E', 'e')

In [29]:
for n, A, a in zip('123456', 'ABCDE', 'abcde'):
  print((n, A, a))

('1', 'A', 'a')
('2', 'B', 'b')
('3', 'C', 'c')
('4', 'D', 'd')
('5', 'E', 'e')

## 1-7. list와 tuple을 for문과 함께 사용하기

In [30]:
li1 = ['apple', 'banana', 'orange', 'melon']
for i in li1:
  print(i , end=' ')

apple banana orange melon

In [31]:
tu1 = ('apple', 'banana', 'orange', 'melon')
for i in tu1:
  print(i , end=' ')

apple banana orange melon

## 문제 4
* 아래 score 리스트에 저장된 점수가 60점 이상인 학생이 몇 명인지 알아보는 프로그램을 작성해보자

In [32]:
score = [90, 30, 50, 60, 80, 70, 100, 40, 20, 10]

In [33]:
count = 0;

for i in score:
  if i >= 60:
    count += 1

print('60점 이상인 학생 수:', count)

60점 이상인 학생 수: 5

# 2. 다중 반복문
* 반복문이 2개이상 겹쳐져 있는 형태

In [34]:
for i in range(1, 4):
  print(f'😎 i: {i}')
  for j in range(1, 4):
    print(f'   😍 i: {j}')

😎 i: 1
   😍 i: 1
   😍 i: 2
   😍 i: 3
😎 i: 2
   😍 i: 1
   😍 i: 2
   😍 i: 3
😎 i: 3
   😍 i: 1
   😍 i: 2
   😍 i: 3

In [35]:
# '🧡'를 이용하여 아래와 같은 도형을 만들어보자.
'''
🧡🧡🧡🧡🧡
🧡🧡🧡🧡🧡
🧡🧡🧡🧡🧡
🧡🧡🧡🧡🧡
🧡🧡🧡🧡🧡
'''

for i in range(5):
  for j in range(5):
    print('🧡', end=' ')
  print()

🧡 🧡 🧡 🧡 🧡
🧡 🧡 🧡 🧡 🧡
🧡 🧡 🧡 🧡 🧡
🧡 🧡 🧡 🧡 🧡
🧡 🧡 🧡 🧡 🧡

## 문제 1
* '🧡'를 이용하여 아래와 같은 도형을 만들어보자.  

🧡🧡🧡🧡🧡  
🧡🧡🧡🧡  
🧡🧡🧡  
🧡🧡  
🧡

In [36]:
for i in range(5):
  for j in range(i,5):
    print('🧡', end=' ')
  print()

🧡 🧡 🧡 🧡 🧡
🧡 🧡 🧡 🧡
🧡 🧡 🧡
🧡 🧡
🧡

## 문제 2
* '🧡'를 이용하여 아래와 같은 도형을 만들어보자.  

🧡  
🧡🧡  
🧡🧡🧡  
🧡🧡🧡🧡  
🧡🧡🧡🧡🧡

In [37]:
for i in range(5):
  for j in range(0,i+1):
    print('🧡', end=' ')
  print()

🧡
🧡 🧡
🧡 🧡 🧡
🧡 🧡 🧡 🧡
🧡 🧡 🧡 🧡 🧡

In [38]:
# 2단부터 9단까지 구구단을 출력하는 프로그램을 작성

for i in range(2,10):
  print('%d단' % i)
  for j in range(1,10):
    print('%d x %d = %d' % (i,j,i*j))
  print()

2단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7단
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9단
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

## 문제 3
* 2단부터 9단까지 구구단을 출력하는 프로그램을 while문으로 작성해보자

In [39]:
i = 2

while i < 10:
  print(f'{i}단')
  j = 1
  while j < 10:
    print(f'{i} x {j} = {i*j}')
    j += 1
  i += 1
  print()

2단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7단
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9단
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

## 문제 4
* 아래 score 리스트의 요소를 모두 출력하는 프로그램을 작성해보자

In [40]:
score = [[80, 90, 50], [40, 70, 30], [90, 50, 100]]

In [41]:
for i in range(3):
  for j in range(3):
    print(score[i][j], end=' ')

80 90 50 40 70 30 90 50 100

In [42]:
for i in range(3):
  for j in range(3):
    print(score[i][j], end=' ')
  print()

80 90 50
40 70 30
90 50 100

# 3. 컴프리헨션(Comprehension)
* 이터러블한 오브젝트를 생성하기 위한 방법 중 하나로 파이선에서 사용할 수 있는 유용한 기능

In [43]:
n = range(0, 10, 1)
print(n)

range(0, 10)

In [44]:
n = 10

result = [0 for i in range(n)]
print(result)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [45]:
result = [i for i in range(n)]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
arr = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
result = [n for n in arr]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
arr = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
result = [n*n for n in arr]
print(result)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
arr = ['apple', 'banana', 'orange', 'melon']

result = [len(string) for string in arr]
print(result)

[5, 6, 6, 5]

In [49]:
result = [n for n in range(10) if n % 2 == 0]
print(result)

[0, 2, 4, 6, 8]

In [50]:
# 0 ~100까지의 숫자 중 3의 배수이며, 홀수인 숫자만 리스트에 저장하기
result = [n for n in range(100) if n % 3 == 0 and n % 2 != 0]
print(result)

[3, 9, 15, 21, 27, 33, 39, 45, 51, 57, 63, 69, 75, 81, 87, 93, 99]

In [51]:
arr = [-1, 0, -4, 24, 5, -10, 2]

# 양수는 리스트에 그대로 저장하고, 음수는 0으로 변환해서 저장하기
# 삼항 연산자 사용
result = [n if n > 0 else 0 for n in arr]
print(result)

[0, 0, 0, 24, 5, 0, 2]

In [52]:
arr = []

for i in range(1, 4):
  for j in range(1, 3):
    arr.append(i * j)

print(arr)

[1, 2, 2, 4, 3, 6]

In [53]:
arr = [i*j for i in range(1, 4) for j in range(1, 3)]
print(arr)

[1, 2, 2, 4, 3, 6]

In [54]:
result = [[0 for i in range(2)] for j in range(3)]
print(result)

[[0, 0], [0, 0], [0, 0]]