# 1. 자료구조(Data Structure)
* 코드상에서 데이터를 효율적으로 처리하기 위해서 데이터 특징에 따라 체계적으로 구조화하여 저장하는 방식

# 2. 리스트(List)
* 여러가지 데이터 및 데이터 타입을 콤마로 구분하여 대괄호로 감싼 자료구조

In [ ]:
a = 10 # 스칼라
print(a)

10

In [ ]:
li1= [1, 3, 5, 7, 9]
print(li1)

[1, 3, 5, 7, 9]

In [ ]:
# li2 = list(1, 3, 5, 7, 9) # TypeError: list expected at most 1 argument, got 5
li2 = list([1, 3, 5, 7, 9])
print(li2)

[1, 3, 5, 7, 9]

In [ ]:
li3 = ['김사과', '반하나', '오렌지', '이메론']
print(li3)

['김사과', '반하나', '오렌지', '이메론']

In [ ]:
li4 = [1, 50.5, '김사과', True] # 각자 타입이 다른 데이터를 저장
print(li4)

[1, 50.5, '김사과', True]

In [ ]:
print(type(li4))
print(type(li4[0]))
print(type(li4[1]))
print(type(li4[2]))
print(type(li4[3]))
print(type(li4[3:]))

<class 'list'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>

In [ ]:
li5 = [1, 2, '파이썬', ['김사과', '오렌지']]
print(li5)

[1, 2, '파이썬', ['김사과', '오렌지']]

## 2-1. 리스트 인덱싱

In [ ]:
li1 = [1, 3, 5, 7, 9]
print(li1)
print(li1[2])
print(li1[-1])

[1, 3, 5, 7, 9]
5
9

In [ ]:
li2 = ['김사과', '반하나', '오렌지', ['🍕','🍔','🥨','🍙']]
print(li2[3])
print(li2[3][1])

['🍕', '🍔', '🥨', '🍙']
🍔

In [ ]:
li3 = [1, 2, 3, ['김사과', '반하나', '오렌지', ['🍕','🍔','🥨','🍙']]]
print(li3[2])
print(li3[-2])
print(li3[-1])
print(li3[3][-2])
print(li3[-1][-1][-1])

3
3
['김사과', '반하나', '오렌지', ['🍕', '🍔', '🥨', '🍙']]
오렌지
🍙

## 2-2. 리스트 슬라이싱

In [ ]:
li4 = [10, 20, 30, 40, 50]
print(li4)
print(li4[1:3])
print(li4[3:])
print(li4[4:])

[10, 20, 30, 40, 50]
[20, 30]
[40, 50]
[50]

In [ ]:
li5 = li4
print(li5)
li5[0] = 100
print(li5)
print(li4)

[10, 20, 30, 40, 50]
[100, 20, 30, 40, 50]
[100, 20, 30, 40, 50]

In [ ]:
li6 = [10 ,20, 30, ['김사과', ' 오렌지', '반하나'], 40, ['🍕', '🍔']]
print(li6[2:6])
print(li6[5][:1])

[30, ['김사과', ' 오렌지', '반하나'], 40, ['🍕', '🍔']]
['🍕']

## 2-3. 리스트 연산자

In [ ]:
li7 = [10 ,20, 30]
li8 = [40, 50 ,60]

print(li7 + li8) # 리스트 연결연산 [10, 20, 30, 40, 50, 60]
print(li8 + li7) # 리스트 연결연산 [40, 50, 60, 10, 20, 30]
# print(li7 - li8) # TypeError: unsupported operand type(s) for -: 'list' and 'list'
# print(li7 * li8) # TypeError: can't multiply sequence by non-int of type 'list'
print(li7 * 3) # [10, 20, 30, 10, 20, 30, 10, 20, 30]

[10, 20, 30, 40, 50, 60]
[40, 50, 60, 10, 20, 30]
[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [ ]:
li9 = [10, 20, 30]
print(li9[0] + li9[2])
li9[1] = '💜'
# print(li9[0] + li9[1]) # TypeError: unsupported operand type(s) for +: 'int' and 'str'

40

## 2-4. 리스트의 수정 및 삭제

In [ ]:
li10 = [10, 20, 30]
li10[1] = 100
print(li10)

[10, 100, 30]

In [ ]:
# 슬라이싱을 이용하여 리스트 데이터를 추가한 경우 리스트에 데이터만 포함
li10[1:2] = ['💥','💢','💘']
print(li10) # [10, '💥', '💢', '💘', 30]

[10, '💥', '💢', '💘', 30]

In [ ]:
# 인덱싱을 이용하여 리스트 데이터를 추가한 경우 리스트 안에 리스트를 포함
li10 = [10, 20, 30]
li10[1] = ['💥','💢','💘']
print(li10) # [10, ['💥', '💢', '💘'], 30]

[10, ['💥', '💢', '💘'], 30]

In [ ]:
print(li10[1:3])

[['💥', '💢', '💘'], 30]

In [ ]:
li10[1:3] = [] # 빈 리스트를 저장하면 요소가 삭제됨
print(li10)

[10]

In [ ]:
del li10[0] # 인덱스 0번 요소 삭제
print(li10)

[]

## 2-5. 리스트 함수

In [ ]:
li11 = [10, 20, 30]

# append(): 리스트의 요소 맨 마지막 자리에 데이터를 추가
print(li11) # [10, 20, 30]

li11.append(100)
print(li11) # [10, 20, 30, 100]
# li11.append(200, 300) # TypeError: append() takes exactly one argument (2 given)
li11.append([200, 300])
print(li11) # [10, 20, 30, 100, [200, 300]]

[10, 20, 30]
[10, 20, 30, 100]
[10, 20, 30, 100, [200, 300]]

In [ ]:
# extend(): 리스트에 요소를 추가
print(li11) # [10, 20, 30, 100, [200, 300]]
# li11.extend(50) # TypeError: 'int' object is not iterable
li11.extend([50])
print(li11) # [10, 20, 30, 100, [200, 300], 50]
li11.extend([60, 70])
print(li11) # [10, 20, 30, 100, [200, 300], 50, 60, 70]

[10, 20, 30, 100, [200, 300]]
[10, 20, 30, 100, [200, 300], 50]
[10, 20, 30, 100, [200, 300], 50, 60, 70]

In [ ]:
# inplace 연산
li11 = [10, 20, 30]
li11 = li11 + [40, 50] # li11 += [40, 50]
print(li11) # [10, 20, 30, 40, 50]

[10, 20, 30, 40, 50]

In [ ]:
li12 = [10, 20, 30, 40, 50]

# pop(): 리스트에 맨 마지막에 저장된 데이터를 반환하고 해당 데이터를 삭제
print(li12) # [10, 20, 30, 40, 50]
print(li12.pop()) # 50
print(li12) # [10, 20, 30, 40]
temp = li12.pop()
print(temp) # 40

[10, 20, 30, 40, 50]
50
[10, 20, 30, 40]
40

In [ ]:
li13 = [10, 20, 30, 40, 50, 20, 40]

# remove(): 매개변수로 전달된 데이터를 제거. 같은 데이터가 여러개 있는 경우 처음 출현하는 데이터만 제거
print(li13) # [10, 20, 30, 40, 50, 20, 40]
li13.remove(30)
print(li13) # [10, 20, 40, 50, 20, 40]
li13.remove(20)
print(li13) # [10, 40, 50, 20, 40]
li13.remove(20)
print(li13) # [10, 40, 50, 40]
# li13.remove(20) # 지우려는 데이터가 없다면 에러! ValueError: list.remove(x): x not in list

[10, 20, 30, 40, 50, 20, 40]
[10, 20, 40, 50, 20, 40]
[10, 40, 50, 20, 40]
[10, 40, 50, 40]

In [ ]:
li14 = [10, 20, 30]

# insert(): 리스트의 특정 위치(인덱스)에 데이터를 삽입
li14.insert(1, 100)
print(li14) # [10, 100, 20, 30]

[10, 100, 20, 30]

In [ ]:
# index(): 리스트에 저장된 데이터가 있을 경우 위치를 인덱스로 반환, 없으면 에러!
print(li14.index(100))
# print(li14.index(50)) # ValueError: 50 is not in list

1

In [ ]:
li15 = [100, 50, 70, 60, 20]

# reverse(): 리스트에 저장된 데이터를 반대 순서로 반환
li15.reverse()
print(li15) # [20, 60, 70, 50, 100]

li16 = ['김사과','오렌지', '반하나', '이메론']
li16.reverse()
print(li16) # ['이메론', '반하나', '오렌지', '김사과']

[20, 60, 70, 50, 100]
['이메론', '반하나', '오렌지', '김사과']

In [ ]:
li17 = [10, 40, 30, 100, 90, 50]

# sort(): 리스트에 저장된 데이터를 오름차순 또는 내림차순으로 정렬. inplace 연산(재저장)을 수행
li17.sort()
print(li17) # [10, 30, 40, 50, 90, 100]
li17.sort(reverse=1)
print(li17) # [100, 90, 50, 40, 30, 10]

[10, 30, 40, 50, 90, 100]
[100, 90, 50, 40, 30, 10]

In [ ]:
li18 = ['Apple', 'apple','Banana', 'banana']
li18.sort()
print(li18) # ['Apple', 'Banana', 'apple', 'banana']
li18.sort(reverse=1)
print(li18) # ['banana', 'apple', 'Banana', 'Apple']

['Apple', 'Banana', 'apple', 'banana']
['banana', 'apple', 'Banana', 'Apple']

In [ ]:
li19 = ['김사과','반하나','오렌지','이메론']
li19.sort()
print(li19) # ['김사과', '반하나', '오렌지', '이메론']
li19.sort(reverse=1)
print(li19) # ['이메론', '오렌지', '반하나', '김사과']

['김사과', '반하나', '오렌지', '이메론']
['이메론', '오렌지', '반하나', '김사과']

In [ ]:
# ✔ 비교
# sorted(): 이터러블(iterable) 객체로부터 정렬된 리스트를 생성함.
# inplace 연산 수행 X. 재저장 X
li17 = [10, 40, 30, 100, 90, 50]
print(sorted(li17)) # 오름차순 [10, 30, 40, 50, 90, 100]
print(sorted(li17, reverse=1)) # 내림차순 [100, 90, 50, 40, 30, 10]

li18 = ['Apple', 'apple','Banana', 'banana']
print(sorted(li18)) # ['Apple', 'Banana', 'apple', 'banana']
print(sorted(li18, reverse=1)) # ['banana', 'apple', 'Banana', 'Apple']

[10, 30, 40, 50, 90, 100]
[100, 90, 50, 40, 30, 10]
['Apple', 'Banana', 'apple', 'banana']
['banana', 'apple', 'Banana', 'Apple']

In [ ]:
li17 = sorted(li17) # 값을 유지하려면 다시 저장해야 함
print(li17) # [10, 30, 40, 50, 90, 100]

[10, 30, 40, 50, 90, 100]

In [ ]:
li18 = [10, 20, 30, 50, 20, 40, 30, 20]

# count(): 리스트에 포함된 특정 데이터의 갯수를 반환
print(li18.count(20)) # 3
print(li18.count(16)) # 0

3
0

In [ ]:
# ✔ 추가
# len(): 요소의 갯수를 반환
print(len(li18)) # 8

8